.containerApp {
    display: grid;

    grid-template-areas:
  'h h'
  'n c'
  'f f';
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 5px;

    width: 1024px;
    min-height: 600px;
    margin: 0 auto;
}

.containerContent {
    grid-area: c;

    background-image: url("https://вебджем.рф/800/600/https/tipik.ru/wp-content/uploads/2019/06/%D0%A1%D0%B5%D1%80%D1%8B%D0%B9-%D1%84%D0%BE%D0%BD-%D0%BE%D0%B4%D0%BD%D0%BE%D1%82%D0%BE%D0%BD%D0%BD%D1%8B%D0%B9-%D0%B4%D0%BB%D1%8F-%D1%84%D0%BE%D1%82%D0%BE%D1%88%D0%BE%D0%BF%D0%B0-%D0%B7%D0%B0%D1%81%D1%82%D0%B0%D0%B2%D0%BA%D0%B0018.jpg");
}