.navigation{
    grid-area: n;

    display: flex;
    flex-direction: column;
    background-color: aqua;
}

.navigation a {
    text-decoration: none;
    color: white;
    padding: 15px;
}

.navigation a:hover{
    color: gold;
}

.active{
    font-size: 24px;
    color: gold !important;
}