.images{
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190424/pngtree-background-of-abstract-art-street-graffiti-image_108547.jpg");
    width: 100%;
    height: 200px;
}

button{
    display: block;
}