.formControl textarea{
   width: 465px;
    height: 60px;
}

.formControl.error textarea,
.formControl.error input{
  border: 2px solid red;
}

.formControl.error span{
   display: block;
   color: red;
}

.someError{
   color: red;
}
