.container {
    display: flex;
    margin-bottom: 20px;
}

.infoBlock, .location{
    display: flex;
    flex-direction: column;
}

.icon {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    border-radius: 500px;
}

.friend{
    width: 68px;
    margin-right: 70px;
}

.info{
    display: flex;
    justify-content: space-between;
    width: 420px;
    background-color: white;
    border-radius: 12px;
}

.activeCount {
    font-weight: bold;
}